<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SOA · Dashboard</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1 class="h3 mb-0 text-gray-800">
                        Dashboard
                    </h1>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        
                    </div>-->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Assignment -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Assignment</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-subtitle font-weight-bold mb-1">Opdracht 5: User Interface</p>
                                    <p class="mb-0">
                                        Voor deze opdracht wordt er gevraagd om een user interface te maken waar je uw services aanroept.
                                        Natuurlijk wordt er verwacht dat je gebruik maakt van je ESB of API management platform.
                                        De deadline voor deze opdracht is tot de verdediging van je project.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Available API's -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">ESB & API's</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Movies</td>
                                                <td>
                                                    <kbd>GET, POST</kbd> <br>
                                                    <kbd>GET, PUT, DEL</kbd>
                                                </td>
                                                <td>
                                                    <kbd>http://localhost:8290/movies</kbd> <br>
                                                    <kbd>http://localhost:8290/movies/{id}</kbd>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Products</td>
                                                <td>
                                                    <kbd>GET</kbd> <br>
                                                    <kbd>POST</kbd> <br>
                                                    <kbd>GET</kbd> <br>
                                                    <kbd>PUT</kbd> <br>
                                                    <kbd>DEL</kbd>
                                                </td>
                                                <td>
                                                    <kbd>http://localhost:8290/products/all</kbd> <br>
                                                    <kbd>http://localhost:8290/products/create</kbd> <br>
                                                    <kbd>http://localhost:8290/products/{id}</kbd> <br>
                                                    <kbd>http://localhost:8290/products/edit/{id}</kbd> <br>
                                                    <kbd>http://localhost:8290/products/delete/{id}</kbd>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>To Do List</td>
                                                <td>
                                                    <kbd>GET, POST</kbd> <br>
                                                    <kbd>PUT, DEL</kbd>
                                                </td>
                                                <td>
                                                    <kbd>http://localhost:8290/todoitems</kbd> <br>
                                                    <kbd>http://localhost:8290/todoitems/{id}</kbd>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>F1 Teams</td>
                                                <td>
                                                    <kbd>GET, POST</kbd> <br>
                                                    <kbd>PUT, DEL</kbd>

                                                </td>
                                                <td>
                                                    <kbd>http://localhost:8290/f1</kbd> <br>
                                                    <kbd>http://localhost:8290/f1/{id}</kbd>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scripts -->
    <div th:replace="fragments/scripts :: scripts"></div>
    
</body>
</html>

